[Unit]
Description=Bad IP Blocking Service
After=network.target nftables.service
Wants=nftables.service
ConditionPathExists=/etc/nftables.d/99-badips.nft

[Service]
Type=simple
ExecStart=/bin/sh -c 'tail -F /var/log/bad_ips/bad_ips.log | systemd-cat -t bad_ips & exec /usr/local/sbin/bad_ips'
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
User=root
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=330

[Install]
WantedBy=multi-user.target

