[Unit]
Description=Bad IP Blocking Service
After=network.target nftables.service
Wants=nftables.service
ConditionPathExists=/etc/nftables.d/99-badips.nft

[Service]
Type=simple
ExecStart=/bin/sh -c 'tail -F /var/log/bad_ips/bad_ips.log | systemd-cat -t bad_ips & exec /usr/local/sbin/bad_ips'
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=330

# User and Group are configured via drop-in file at:
# /etc/systemd/system/bad_ips.service.d/user.conf
# This is created by the package postinst script with the configured username

[Install]
WantedBy=multi-user.target

